.top-menu{
    background: #1976d2;
    padding: 2px 15px;
    width: 100%;
}
.logo{
    max-height: 55px;
}
.courses{
    max-width: 400px;
}
.list-my-courses{
    max-width: 400px;
}
.main-container{
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}