.content{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}
.left,.right{
    flex: 1;
}
button{
    border: none;
    background-color: sandybrown;
    color: white;
    padding: .5em 2em;
}