<ng-container *ngIf="!isLogged; else elseTemplate">
    <button (click)="changeState()">Iniciar sesión</button>
</ng-container>
<ng-template #elseTemplate>
    <button (click)="changeState()">Cerrar Sesión</button>
</ng-template>

<!-- Otra forma -->
<button *ngIf="!isLogged" (click)="changeState()">Iniciar sesión</button>
<button *ngIf="isLogged" (click)="changeState()">Cerrar Sesión</button>

<!--
     <ng-container></ng-container>
            esto solo sirve para agrupar contenido esto no representa nada
            en el html
    <ng-template #name></ng-template>
    
    las interfaces son definiciones de objetos es decir dado un objeto con datos podemos definir 
    que estructura ya a tener
    
    user =<User> {

    }

-->

<button [disabled]="isNotActive" (click)="isNotActive = !isNotActive">asdad</button>

<ng-template [ngIf]="isLogged" [ngIfElse]="loggedOut">
    <div class="">
        Welcome !
    </div>
</ng-template>
<ng-template #loggedOut>
    <div class="">login?</div>
</ng-template>


<ng-container
  *ngIf="isLogged; then IsLogged; else LoggedOut">
</ng-container>

<ng-template #IsLogged>
  <div>
    Welcome back, friend.
  </div>
</ng-template>
<ng-template #LoggedOut>
  <div>
    Please friend, login.
  </div>
</ng-template>


<input type="text" [ngModel]="name">

<input type="text" [(ngModel)]="lastName">

<p>{{ name }}</p>
<p>{{ lastName }}</p>


<input type="text" [(ngModel)]="title" (ngModelChange)="log($event)">

<!-- Con ngModel -->
<p>La seleccion con ngModel es : {{ seleccion }}</p>
<select [(ngModel)]="seleccion">
    <option *ngFor="let item of items" [value]="item">{{item}}</option>
</select>

<!-- Sin ngModel -->
<p>La seleccion con sin ngModel es : {{ seleccion_2 }}</p>
<select [value]="seleccion_2" (change)="seleccion_2 = $event.target.value">
    <option *ngFor="let item of items" [value]="item">{{item}}</option>
</select>
